.theme-default-content
  pre code
    color #fff !important
  code
    font-family "Roboto Mono", Monaco, courier, monospace
    font-weight 600
    color #e96900 !important
  strong
    color #ff0097
  div[class*="language-"]
    background-color #011627
    .highlight-lines .highlighted
      border-left .25em solid #ffa7c4
      background-color #022a4b !important
