.theme-default-content pre code {
  color: #fff !important
}
.theme-default-content code {
  font-family: "Roboto Mono", Monaco, courier, monospace;
  font-weight: 600;
  color: #e96900 !important
}
.theme-default-content strong {
  color: #ff0097
}
